*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
android/.idea
android/app/src/main/jniLibs
android/app/src/main/swift/.build
android/app/src/main/swift/.idea
core/.build
android/app/src/main/swift/WeatherCoreBridge.xcodeproj
core/.swiftpm/xcode/xcuserdata
core/.swiftpm/xcode/package.xcworkspace/xcuserdata
apple/Weather.xcodeproj/project.xcworkspace/xcuserdata
apple/Weather.xcodeproj/xcuserdata
*.xcuserstate
*.xcbkptlist
