name: AndroidCore

on: [pull_request]

jobs:
  build:

    runs-on: macos-15
    
    steps:
    - uses: actions/checkout@v1
    - name: Install Swift 6.1 toolchain
      run: curl -L -O https://download.swift.org/swift-6.1-release/xcode/swift-6.1-RELEASE/swift-6.1-RELEASE-osx.pkg && sudo installer -pkg swift-6.1-RELEASE-osx.pkg -target /
    - name: Install NDK
      run: $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --install "ndk;27.3.13750724"
    - name: Install Swift Android Toolchain
      run: wget https://github.com/readdle/swift-android-toolchain/releases/latest/download/swift-android.zip;
        unzip -o swift-android.zip;
    - name: Run connected android tests
      run: export ANDROID_NDK_HOME=$ANDROID_HOME/ndk/27.3.13750724;
        export SWIFT_ANDROID_ARCH=x86_64;
        export SWIFT_ANDROID_HOME=$(pwd)/swift-android;
        export PATH=$ANDROID_NDK_HOME:$SWIFT_ANDROID_HOME/build-tools:$PATH;
        cd core;
        swift-android build
